//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="tel"],
div.wpcf7 input[type="email"],
div.wpcf7 textarea,
div.wpcf7 select,
.contact-link-stick {
  @include input-text;
  @include input-style;
  margin-bottom: 12px;
}
.contact-link-stick {
  @include d-center;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding-left: size(42);
  background-position: size(10) center;
  background-size: size(17);
  background-repeat: no-repeat;
}
div.wpcf7 textarea {
  height: size(136);
}
div.textarea-col {
  ::placeholder {
	color: rgba(28, 29, 26, 0.5);
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	color: rgba(28, 29, 26, 0.5);
  }
}
div.wpcf7 input[type="submit"], .link-to-facebook {
  @include submit-style;
  transition: box-shadow, background-color ease-out .5s;
  &:hover {
	box-shadow: unset;
	background-color: $dark-blue;
  }
}
.link-to-facebook {
  @include d-center;
  height: unset;
  min-height: size(62);
  padding: 10px size(44);
  @media (max-width: 500px) {
	padding: 10px;
  }
}
.repeat-form-post {
  margin: 47px 0;
  @include back-img;
  background-image: url("../img/form-back.png");
  div.wpcf7 input[type="submit"] {
	color: #ffffff;
	text-shadow: 0 0 13px rgba(36, 36, 36, 0.71);
  }
}
.form-post-overlay {
  width: 100%;
  height: 100%;
  padding: 36px 0;
  background-color: rgba(41, 54, 127, 0.83);
  .base-form-title, .base-form-subtitle {
	text-shadow: 1px 4px 18px rgba(0, 2, 13, 0.65);
  }
}
