@mixin menu-item {
  font-size: size(20);
  line-height: size(24);
  color: $title-color;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  position: relative;
	  margin: 0 size(15);
	  a{
		@include d-center;
		@include menu-item;
		text-align: center;
		transition: color ease-out .5s;
		&:hover {
		  color: $green-main;
		}
	  }
	}
  }
}
.header-bottom {
  padding: 10px 0;
  position: relative;
  z-index: 99;
  background-color: $main-blue;
}
.link-for-rus {
  margin-top: -10px;
  width: 100%;
  @include d-center;
  flex-direction: column;
  height: calc(100% + 30px);
  background-color: $green-main;
  color: #ffffff;
  font-size: size(26);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  text-align: center;
  padding: 10px 20px;
}
.header-bottom-title {
  text-shadow: -3px 4px 10px rgba(35, 35, 35, 0.3);
  color: #ffffff;
  font-size: size(39);
  font-weight: 800;
  font-style: normal;
  text-align: center;
  letter-spacing: normal;
  line-height: size(48);
}
.header-link {
  @include d-center;
  position: relative;
  height: size(30);
  box-shadow: 0 0 12px 1px rgba(35, 35, 35, 0.44);
  background-color: #ffb400;
  color: #003456;
  padding: 5px 16px;
  z-index: 9;
}
.head-link-text {
  font-size: size(22);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  text-align: center;
  z-index: 6;
  white-space: nowrap;
}
.header-link-rotated {
  top: 0;
  @include d-center;
  position: absolute;
  z-index: -1;
  width: calc(100% + 20px);
  height: 100%;
  right: -10px;
  transform: rotate(7deg);
  background-color: #fc4622;
}
.haifa-logo {
  @include d-center;
  margin: 0 10px;
  img {
	max-height: size(77);
  }
}
.header-top {
  position: relative;
  box-shadow: -1px 1px 27px 1px rgba(35, 35, 35, 0.33);
  background-color: #ffffff;
  padding: size(16) 0;
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: $title-color;
  }
}
.wpml-ls-legacy-dropdown {
  width: auto;
}
.wpml-ls-legacy-dropdown a {
  color: $title-color;
  border: none;
  font-weight: 700;
  font-size: size(20);
  line-height: size(22);
  display: flex;
}
.wpml-ls-sub-menu .wpml-ls-native {
  font-size: size(16);
  line-height: size(20);
}
.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
  background: transparent;
  color: $title-color;
}
.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
  background-image: url("../iconsall/down.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 7px;
  border: none;
}
.wpml-ls-menu-item .wpml-ls-flag {
  height: auto !important;
  width: auto !important;
}
.drop-menu {
  display: none;
  position: absolute;
  right: 10%;
  top: calc(100% + 16px);
  justify-content: flex-start;
  align-items: flex-start;
  padding: 27px 62px 20px 20px;
  box-shadow: 1px -4px 12px 1px rgba(7, 1, 6, 0.21);
  border-radius: 35px;
  background-color: #ffffff;
  width: auto;
  z-index: 9999;
  min-width: 318px;
  overflow-y: auto;
  nav {
	width: 100%;
	li{
	  position: relative;
	  margin-bottom: 10px;
	  &:hover {
		&:before {
		  content: '';
		  display: block;
		  width: 26px;
		  height: 26px;
		  position: absolute;
		  top: 0;
		  left: calc(100% + 11px);
		  background-image: url("../iconsall/menu-icon.png");
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: contain;
		}
	  }
	  a {
		@include menu-item;
	  }
	}
  }
}
.logo {
  @include d-center;
  img {
	max-height: size(59);
  }
}
.pop-form, .pop-form-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.68);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
  .block-title, .block-subtitle {
	color: #ffffff;
	text-align: center;
  }
  .block-subtitle {
	font-size: size(28);
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-form-search {
  position: relative;
  width: 100%;
  max-height: 100vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  opacity: 0;
  &.show-float-form{
	opacity: 1;
	transform: translateX(0);
  }
}
.pop-form-back {
  position: relative;
  background-image: url("../img/pop-back.png");
  background-position: left center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10% 15% 10% 20%;
}
.close-form {
  position: absolute;
  right: 7%;
  top: 10%;
  cursor: pointer;
  color: #ffffff;
  font-family: $almoni;
  font-size: size(29);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: left;
  text-transform: uppercase;
}
.pop-trigger, .social-item {
  cursor: pointer;
  margin-bottom: 12px;
  img {
	width: size(35);
  }
}
.triggers-col {
  position: fixed;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 9999;
  bottom: 20%;
}
.pop-trigger {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../iconsall/contact-pop-pages.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: size(86);
  height: size(100);
  margin-left: -5px;
  &.front-back {
	background-image: url("../iconsall/contact-pop.png");
  }
}
.chat-trigger {
  position: fixed;
  top: 70%;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../iconsall/chat-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: size(90);
  height: size(124);
  padding-top: 10px;
  &.front-back {
	background-image: url("../iconsall/chat-back-main.png");
  }
}

//Footer
.foo-logo-line {
  padding: 20px 0;
  background-color: #ffffff;
}
.foo-logo-item {
  @include d-center;
  img {
	max-height: size(70);
  }
}
.footer-main {
  position: relative;
  padding-top: 37px;
  padding-bottom: 26px;
  background-color: $title-color;
}
.foo-menu {
  padding-top: 50px;
}
.foo-title {
  color: #ffffff;
  font-size: size(30);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  margin-bottom: 15px;
}
.menu-border-top {
  padding-top: 18px;
}
footer {
  position: relative;
  li {
	a {
	  display: flex;
	  @include foo-menu;
	  color: #ffffff;
	  transition: color .5s;
	  &:hover {
		color: $main-blue;
		transition: color .5s;
	  }
	}
  }
}
.footer-form {
  .normal-block-title, .normal-block-subtitle {
	text-align: right;
  }
}
.foo-after-title, .foo-title-contact {
  position: relative;
  &:after {
	position: absolute;
	content: '';
	display: block;
	width: calc(100% - 30px);
	background-color: $main-blue;
	height: 6px;
	top: 95px;
	right: 15px;
  }
}
.foo-title-contact:after {
  right: 0;
  top: unset;
  bottom: -15px;
  width: calc(100% - 15px);
}
.contact-info-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
	@include d-center;
	min-width: 30px;
  }
}
.foo-facebook {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff !important;
  font-size: size(30);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  margin-top: 1rem;
  img {
	width: size(54);
	margin: 0 14px;
  }
}
.foo-links-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 5%;
}
#go-top {
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  max-width: 60px;
  img {
	width: size(35);
  }
}
.top-text {
  color: #000000;
  font-family: $almoni;
  font-size: size(22);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(22);
  text-align: center;
  margin-bottom: 13px;
}
//All of editions
.social-link-item {
  @include d-center;
  width: size(66);
  height: size(66);
  box-shadow: 0 5px 9px rgba(17, 44, 194, 0.36);
  border: 1px solid #039be5;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 9px;
  padding: size(12);
  img {
	max-height: 90%;
  }
}
.pop-trigger-text, .chat-trigger-text {
  padding-top: 9px;
  color: #ffffff;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.pop-trigger-text {
  max-width: size(47);
  font-size: size(24);
  font-weight: 700;
  line-height: size(26);
}
.chat-trigger-text {
  font-weight: 800;
  max-width: size(60);
  font-size: size(19);
  line-height: size(20);
}
//Search form
.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 29px;
  input[type="search"] {
	width: size(91);
	border-bottom: 2px solid $title-color;
  }
  input[type="submit"] {
	width: size(26);
	background-image: url("../iconsall/search.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
  }
}
