.faq {
  margin: 108px 0 91px 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 15px;
  }
  .answer-body {
	padding: 15px 34px 67px 15px;
  }
}
.question-title {
  border: none !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: size(64);
  border-radius: size(32);
  background-color: #d7d7d7;
  padding: 12px 64px;
  transition: background-color, color ease-out .5s;
  &.active-faq {
	background-color: $title-color;
	.faq-body-title {
	  color: #ffffff;
	}
  }
}
.faq-body-title {
  @include faq-text;
  color: #211e1e;
  text-align: center;
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.faq-icon {
  position: absolute;
  right: 23px;
  font-size: size(51);
  font-family: $almoni-tzar;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 18px;
	height: 23px;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-video-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-video-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	z-index: 33;
	top: unset;
	bottom: -50px;
  }
  [dir="rtl"] .slick-next {
	left: 0;
	right: unset;
  }
  [dir="rtl"] .slick-prev {
	left: 85px;
	right: unset;
  }
}
.about-slider-wrap {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: unset;
	bottom: -125px;
  }
  [dir="rtl"] .slick-next {
	left: -60px;
  }
  [dir="rtl"] .slick-prev {
	right: -60px;
  }
}
.slider-departments-arrows {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: 15px;
	height: 35px;
	top: unset;
	bottom: 2.75rem;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
}
.base-slider-block {
  position: relative;
  margin: 25px 0;
}
.slider-img-col {
  position: relative;
  @include d-center;
  img {
	position: relative;
	z-index: 4;
	width: 100%;
  }
}
.slider-blue-back {
  background-color: $main-blue;
  width: 78%;
  display: block;
  position: absolute;
  &:after {
	content: '';
	display: block;
	padding-bottom: 65%;
  }
}
//Post card
.col-post {
  padding: 7.5px 5px;
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  padding: 20px 22px 29px 22px;
  box-shadow: 0 0 13px 1px rgba(36, 36, 36, 0.34);
  border-radius: 35px;
  background-color: #ffffff;
  transition: margin-top .5s;
  &:hover {
	.post-card-title {
	  color: $title-color;
	}
  }
  @media (max-width: 1400px) and (min-width: 577px) {
	padding: 10px 12px 19px 12px;
	border-radius: 25px;
  }
}
.post-card-image {
  @include d-center;
  position: relative;
  border-radius: 35px;
  background-color: $title-color;
  @include back-img;
  width: 100%;
  margin-bottom: 21px;
  &:after {
	display: block;
	content: '';
	padding-bottom: 76%;
  }
  @media (max-width: 1400px) and (min-width: 577px) {
	border-radius: 25px;
  }
}
.post-card-title {
  font-size: size(18);
  line-height: size(22);
  font-weight: 700;
  transition: color ease-out .5s;
  @media (max-width: 1400px) and (min-width: 577px) {
	border-radius: 25px;
  }
}
.post-card-link {
  font-size: size(20);
  line-height: size(23);
  color: $title-color;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-top: 22px;
  transition: color ease-out .5s;
  @media (max-width: 1400px) and (min-width: 577px) {
	margin-top: 10px;
	font-size: size(18);
  }
  &:hover {
	color: $green-main;
  }
}
.card-text {
  @include small-text;
}
.card-text, .post-card-title {
  text-align: center;
  color: #1d1d1d;
}
.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 0 20px;
  @media (max-width: 1400px) and (min-width: 577px) {
	padding: 0;
  }
}
//Repeat form
.repeat-form-block {
  padding: 59px 0;
  background-image: url("../img/blog-form-back.png");
  @include back-img;
  background-color: $title-color;
}
.base-form-title, .base-form-subtitle {
  color: #ffffff;
}
.base-form-title {
  @include giant-title;
  @media (max-width: 1500px) {
	font-size: size(56);
	line-height: size(60);
  }
}
.base-form-subtitle {
  font-size: size(45);
  line-height: normal;
  font-weight: 400;
  margin-bottom: size(50);
  @media (max-width: 1500px) {
	font-size: size(36);
	line-height: size(40);
  }
}
//Departments slider
.departments-slider {
  position: relative;
  margin-top: -140px;
  z-index: 77;
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  .slider-deps {
	padding: 0 16px;
  }
  .dep-slide-wrap {
	padding: 4px;
  }
}
.cat-slide-icon, .department-slide-item, .slide-dep-white {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.department-slide-item {
  position: relative;
  padding: 96px 0 8px 0;
  height: 100%;
  &:hover {
	.slide-dep-white {
	  background-color: $main-blue;
	}
	.department-title {
	  color: $dark-blue;
	  font-weight: 700;
	}
  }
}
.cat-slide-icon {
  position: absolute;
  bottom: 96px;
  max-height: 153px;
  img {
	max-height: 153px;
  }
}
.slide-dep-white {
  width: 100%;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  padding: size(37) 10%;
  height: size(150);
  max-height: size(150);
  transition: background-color ease-out .5s;
}
.department-title {
  color: $title-color;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  text-align: center;
  transition: color, font-weight ease-out .5s;
}
//Gallery
.gallery-col {
  padding: 0 2.5px;
  margin-bottom: 6px;
}
.gallery-item {
  width: 100%;
}
.gallery-img {
  position: relative;
  @include d-center;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 81%;
  }
}
.gallery-overlay {
  @include d-center;
  @include overlay;
  cursor: pointer;
  background-color: rgba(41, 54, 127, 0.57);
  img {
	width: size(55);
  }
  &.hide {
	opacity: 0;
  }
}
//Video modal
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
.more-link {
  cursor: pointer;
  &:hover {
	box-shadow: unset;
  }
}
