/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1921px) {
  html{
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  html{
	font-size: 18px;
  }
  .col-xxl-10 {
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
  }
  #MainNav {
	ul {
	  li {
		margin: 0 size(30);
	  }
	}
  }
}
@media (min-width: 1200px) {
  .container {
	max-width: 92%;
  }
  .gallery-col {
	flex: 0 0 20%;
	max-width: 20%;
  }
}
@media (max-width: 1700px) {
  .haifa-logo, .country-logo {
	img {
	  max-height: size(47);
	}
  }
  .ole-icon {
	height: 100%;
  }
  .header-bottom-title {
	font-size: size(29);
	line-height: size(38);
  }
}
@media (max-width: 1400px) {
  .form-contact-block {
	padding: 63px 7% 50px 7%;
  }
  .header-top {
	.container {
	  max-width: 100%;
	}
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 17px;
  }
  .header-bottom {
	display: none;
  }
  .contact-phone {
	display: none;
  }
  //.col-post-content {
	//order: -1;
  //}
  .sidebar-col {
	margin-bottom: 1rem;
  }
  .post-gallery-col {
	margin: 2rem 0;
  }
  .title-wrapper-post {
	margin-bottom: 35px;
  }
  .col-hidden-foo {
	display: none;
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .header-top {
	span.wpml-ls-native {
	  display: none !important;
	}
  }
  #MainNav {
	display: none !important;
  }
  .search-form {
	margin: 0 8px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .slider-img-col {
	margin-bottom: 2rem;
  }
  .video-home {
	height: 70vh;
  }
  .photo-wrapper {
	margin-bottom: 2rem;
  }
  .home-content-block .h-content-img-col {
	order: -1;
  }
  .contact-info-item {
	margin-bottom: 2rem;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .hop-hey.two-columns {
	column-count: 2;
	column-gap: 5%;
  }
  .foo-after-title:after {
	width: calc(100% - 45px);
  }
  .foo-links-menu {
	.foo-title {
	  position: relative;
	}
	.foo-title:after {
	  position: absolute;
	  content: '';
	  display: block;
	  width: calc(100% - 30px);
	  background-color: $main-blue;
	  height: 6px;
	  right: 0;
	  top: unset;
	  bottom: -15px;
	}
  }
  .col-half-facebook, .col-half-form {
	right: 0 !important;
	width: 100%;
	height: 50%;
  }
  .col-half-form {
	right: 0;
	background-color: $title-color;
	@include back-img;
	background-image: url("../img/home-form-back.png");
  }
  .col-half-facebook {
	top: unset;
	bottom: 0;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .haifa-logo, .country-logo {
	display: none;
  }
  .button-home {
	img {
	  width: size(70);
	}
  }
  .faq-body-title {
	font-size: size(20);
	line-height: size(25);
  }
  .question-title {
	padding: 8px 54px;
  }
  .services-footer-menu {
	.hop-hey.two-columns {
	  column-count: 1;
	  column-gap: unset;
	}
  }
  .social-link-item {
	width: size(46);
	height: size(46);
	padding: 10px;
  }
  .pop-trigger-text {
	max-width: size(30);
	padding-top: 10px;
	font-size: size(14);
	line-height: size(15);
  }
  .chat-trigger-text {
	max-width: size(45);
	font-size: size(13);
	line-height: size(18);
  }
  .pop-trigger {
	width: size(56);
	height: size(70);
  }
  .chat-trigger {
	width: size(70);
	height: size(104);
  }
  .triggers-col {
	left: 0;
  }
  .foo-logo-item {
	img {
	  max-height: size(40);
	}
  }
  .pop-form {
	.container {
	  max-width: 100%;
	}
  }
  .col-half-form {
	height: 60%;
  }
  .col-half-facebook {
	height: 40%;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .col-post {
	padding: 7.5px 15px;
  }
  .base-form-title {
	font-size: size(45);
	line-height: size(50);
  }
  .base-form-subtitle {
	font-size: size(35);
	margin-bottom: size(40);
  }
  .departments-slider {
	padding: 0 30px;
  }
  .video-home {
	height: 50vh;
  }
  .photo-wrapper {
	padding: 17px;
  }
  .photo-insider {
	padding: size(25);
	.logo {
	  top: size(27);
	  right: size(25);
	}
  }
  .post-slider {
	padding: 0 25px;
	.slick-prev {
	  right: 0 !important;
	}
	.slick-next {
	  left: 0 !important;
	}
	.post-card {
	  padding: 10px 12px 19px 12px;
	  border-radius: 25px;
	}
	.post-card-image {
	  border-radius: 25px;
	}
	.post-card-title {
	  border-radius: 25px;
	}
	.post-card-link {
	  margin-top: 10px;
	  font-size: size(18);
	}
	.post-card-content {
	  padding: 0;
	}
  }
  .about-slider-wrap {
	.photo-wrapper {
	  padding: 17px;
	}
	.photo-insider {
	  padding: size(25);
	  .logo {
		top: size(27);
		right: size(25);
	  }
	}
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  bottom: -95px;
	}
	[dir="rtl"] .slick-prev {
	  right: -40px;
	}
	[dir="rtl"] .slick-next {
	  left: -40px;
	}
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
  .gallery-col {
	padding: 0 15px;
  }
  .gallery-home {
	padding: 0 25px;
  }
  .faq-body-title {
	font-size: size(16);
	line-height: size(20);
  }
  .faq-icon {
	right: 13px;
	font-size: size(31);
  }
  .question-title {
	padding: 8px 34px;
  }
  .services-footer-menu {
	.foo-title {
	  position: relative;
	}
	.foo-title:after {
	  position: absolute;
	  content: '';
	  display: block;
	  width: calc(100% - 30px);
	  background-color: $main-blue;
	  height: 6px;
	  right: 0;
	  top: unset;
	  bottom: -15px;
	}
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .foo-facebook {
	font-size: size(24);
	line-height: size(30);
	img {
	  width: size(34);
	  margin: 0 8px;
	}
  }
  .foo-logo-line {
	padding: 10px 0;
	.container {
	  max-width: 100%;
	}
  }
  .foo-logo-item {
	margin-bottom: 10px;
  }
  .face-img-col {
	display: none;
  }
  .header-top {
	.logo {
	  max-width: 100px;
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .search-form {
	display: none;
  }
  .departments-slider {
	padding: 0 15px;
	margin-top: -80px;
  }
  .department-slide-item {
	padding: 66px 0 8px 0;
  }
  .cat-slide-icon {
	bottom: 66px;
	max-height: 100px;
	max-width: 70%;
	img {
	  max-height: 100px;
	}
  }
  .slide-dep-white {
	height: size(120);
	max-height: size(120);
	padding: size(17) 6%;
  }
  .department-title {
	font-size: size(16);
	line-height: size(20);
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
  .pop-form-back {
	padding: 45px 15px 30px 15px;
	background-image: none;
	box-shadow: 0 11px 37px 3px rgba(26, 35, 86, 0.47);
	background-color: $title-color;
  }
  .close-form {
	right: 15px;
	top: 15px;
  }
}
