body{
  text-align: left;
  direction: ltr;
}
$base-size: 20;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
div.wpcf7 select {
  padding-right: size(42);
  padding-left: 11px;
  background-position: calc(100% - 10px) center;
}
.faq {
  .answer-body {
	padding: 15px 67px 67px 34px;
  }
}
.faq-icon {
  right: unset;
  left: 23px;
  @media (max-width: 576px) {
	right: unset;
	left: 13px;
  }
}
.read-more-link {
  text-align: left;
  padding-right: 30px;
  padding-left: 0;
  background-image: url("../iconsall/arrow-link-right.png");
  background-position: calc(100% - 6px) center;
  &:hover {
	background-position: right center;
  }
}
.home-posts-block, .about-page-body {
  .block-title, .block-subtitle {
	text-align: left;
  }
}
.photo-insider {
  .logo {
	right: unset;
	left: size(55);
	@media (max-width: 576px) {
	  right: unset;
	  left: size(25);
	}
  }
}
.menu-icon-contact {
  margin-right: 12px;
  margin-left: 0;
}
//.contact-phone {
//  left: unset;
//  right: 87%;
//}
.drop-menu {
  left: 10%;
  right: unset;
  padding: 27px 20px 20px 62px;
  nav {
	li {
	  &:hover {
		&:before {
		  left: unset;
		  right: calc(100% + 11px);
		}
	  }
	}
  }
}

.footer-form {
  .normal-block-title, .normal-block-subtitle {
	text-align: left;
  }
}
.foo-title-contact:after {
  left: 0 !important;
  right: unset;
}
.foo-after-title {
  &:after {
	right: unset;
	left: 15px;
  }
}
.col-half-form {
  left: 0;
  right: unset;
}
.col-half-facebook {
  right: 0;
  left: unset;
}
.pop-trigger-text, .chat-trigger-text {
  font-size: 13px;
  line-height: 16px;
}
.pop-trigger-text {
  max-width: unset;
}
@media (max-width: 992px) {
  .foo-links-menu {
	.foo-title {
	}
	.foo-title:after {
	  right: unset;
	  left: 0;
	}
  }
}
@media (max-width: 576px) {
  .services-footer-menu {
	.foo-title:after {
	  left: 0;
	  right: unset;
	}
  }
}
