body {
  text-align: left;
  direction: ltr;
}

.wpcf7-form * {
  direction: ltr !important;
}
.wpcf7-form ::placeholder {
  text-align: left;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: left;
}

div.wpcf7 select {
  padding-right: 2.1rem;
  padding-left: 11px;
  background-position: calc(100% - 10px) center;
}

.faq .answer-body {
  padding: 15px 67px 67px 34px;
}

.faq-icon {
  right: unset;
  left: 23px;
}
@media (max-width: 576px) {
  .faq-icon {
    right: unset;
    left: 13px;
  }
}

.read-more-link {
  text-align: left;
  padding-right: 30px;
  padding-left: 0;
  background-image: url("../iconsall/arrow-link-right.png");
  background-position: calc(100% - 6px) center;
}
.read-more-link:hover {
  background-position: right center;
}

.home-posts-block .block-title, .home-posts-block .block-subtitle, .about-page-body .block-title, .about-page-body .block-subtitle {
  text-align: left;
}

.photo-insider .logo {
  right: unset;
  left: 2.75rem;
}
@media (max-width: 576px) {
  .photo-insider .logo {
    right: unset;
    left: 1.25rem;
  }
}

.menu-icon-contact {
  margin-right: 12px;
  margin-left: 0;
}

.drop-menu {
  left: 10%;
  right: unset;
  padding: 27px 20px 20px 62px;
}
.drop-menu nav li:hover:before {
  left: unset;
  right: calc(100% + 11px);
}

.footer-form .normal-block-title, .footer-form .normal-block-subtitle {
  text-align: left;
}

.foo-title-contact:after {
  left: 0 !important;
  right: unset;
}

.foo-after-title:after {
  right: unset;
  left: 15px;
}

.col-half-form {
  left: 0;
  right: unset;
}

.col-half-facebook {
  right: 0;
  left: unset;
}

.pop-trigger-text, .chat-trigger-text {
  font-size: 13px;
  line-height: 16px;
}

.pop-trigger-text {
  max-width: unset;
}

@media (max-width: 992px) {
  .foo-links-menu .foo-title:after {
    right: unset;
    left: 0;
  }
}
@media (max-width: 576px) {
  .services-footer-menu .foo-title:after {
    left: 0;
    right: unset;
  }
}

/*# sourceMappingURL=ltr.css.map */
