@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "partials";
@import "header-footer";
@import "forms";

body{
  font-family: $open-sans;
  text-align: right;
}
.wow {
  visibility: hidden;
}
//Basic stuff
.page-body {
  padding-top: 69px;
  padding-bottom: 56px;
}
.block-title, .normal-block-title {
  @include big-title;
}
.normal-block-title, .normal-block-subtitle {
  text-align: center;
  color: #ffffff;
}
.normal-block-subtitle {
  margin-bottom: 24px;
}
.block-subtitle, .normal-block-subtitle {
  @include base-title;
  font-weight: 400;
}
.block-title, .block-subtitle {
  text-align: center;
  color: $title-color;
}
.base-output {
  h1 {
	font-size: size(50);
	line-height: size(58);
  }
  h2 {
	@include big-title;
	margin-bottom: 0;
  }
  h3 {
	@include base-title;
	margin-bottom: size(37);
  }
  h1, h2, h3, h4, h5, h6 {
	color: $title-color;
  }
  h3, h4, h5, h6 {
	color: $title-color;
	font-weight: 400;
	margin-bottom: size(27);
  }
  h4 {
	font-size: size(30);
	line-height: size(32);
  }
  h5 {
	@include faq-text;
  }
  h6 {
	@include foo-menu;
  }
  p, li {
	@include base-text;
	color: $text-main;
  }
  p {
	margin-bottom: 40px;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
  img {
	width: 100%;
  }
  strong {
	font-weight: 800;
  }
}
.small-output {
  p, li {
	@include small-text;
  }
}
.base-link {
  @include d-center;
  text-align: center;
  min-width: size(195);
  height: size(36);
  box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.5);
  background-color: $green-main;
  color: #211e1e !important;
  font-size: size(17);
  font-weight: 800;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(23);
  transition: box-shadow ease-out .5s;
  &:hover {
	box-shadow: unset;
  }
  &.hide {
	display: none;
  }
}
.read-more-link {
  @include d-center;
  text-align: right;
  color: $title-color !important;
  font-size: size(20);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  padding-left: 30px;
  background-image: url("../iconsall/arrow-link-left.png");
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: 18px;
  transition: background-position ease-out .5s;
  &:hover {
	background-position: left center;
  }
}
//Homepage
.video-home {
  @include d-center;
  height: 80vh;
  overflow: hidden;
  position: relative;
  video {
	width: auto;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
  }
}
.overlay-home {
  @include overlay;
  @include back-img;
  background-image: url("../img/main-overlay.png");
  z-index: 3;
  @include d-center;
  img {
	width: 6%;
	height: auto;
  }
}
.button-home {
  @include overlay;
  @include back-img;
  z-index: 2;
  cursor: pointer;
  transition: opacity ease-out .5s;
  &.hide {
	opacity: 0;
  }
}
.home-posts-block {
  margin: 60px 0;
  .block-title, .block-subtitle {
	text-align: right;
  }
}
.photo-wrapper {
  box-shadow: 0 -1px 2px rgba(203, 203, 203, 0.2), 23px 19px 25px rgba(37, 37, 37, 0.29);
  background-color: $title-color;
  padding: 27px;
  img {
	width: 100%;
  }
}
.photo-insider {
  position: relative;
  padding: size(45);
  width: 100%;
  box-shadow: inset 18px 9px 24px 1px rgba(41, 41, 41, 0.5), inset -10px -1px 15px rgba(44, 44, 44, 0.2);
  background-color: #fafafa;
  .logo {
	position: absolute;
	top: size(57);
	right: size(55);
	max-width: 28.6%;
	z-index: 3;
	img {
	  max-height: size(57);
	}
  }
}
.about-block {
  margin: 107px 0;
}
.home-content-block {
  margin: 20px 0 100px 0;
}
.gallery-home {
  margin-top: 2rem;
  .gallery-col {
	flex: 0 0 100%;
	max-width: 100%;
  }
}
.put-video-wrapper {
  position: relative;
  width: 100%;
  background-image: url("../img/tablet.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  &:after {
	display: block;
	content: '';
	padding-bottom: 66.07%;
  }
}
.put-video-here {
  position: absolute;
  top: 5.34%;
  left: 4.06%;
  width: 91.88%;
  height: 89.32%;
  @include back-img;
}
.play-video-here {
  @include overlay;
  @include d-center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  img {
	width: size(52);
  }
}
.put-video-inside {
  @include overlay;
  overflow: hidden;
  iframe {
	width: 100%;
	height: auto;
  }
  &.show-video {
	z-index: 9;
  }
}
.gallery-slider-home {
  margin: 60px 0;
}
.form-homepage-section {
  position: relative;
  padding: 50px 0;
}
.col-half-facebook, .col-half-form {
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
}
.col-half-form {
  right: 0;
  background-color: $title-color;
  @include back-img;
  background-image: url("../img/home-form-back.png");
}
.col-half-facebook {
  left: 0;
  background-color: #cddc39;
}
.facebook-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .base-form-title, .base-form-subtitle {
	color: $title-color;
  }
  .base-form-subtitle {
	font-size: size(56);
	line-height: size(60);
  }
  @media (max-width: 1500px) {
	.base-form-title, .base-form-subtitle {
	  font-size: size(56);
	  line-height: size(60);
	}
	.base-form-subtitle {
	  font-size: size(36);
	  line-height: size(40);
	}
  }
}
//About page
.top-about {
  position: relative;
  @include back-img;
  height: 320px;
}
.top-about-overlay {
  @include overlay;
  background-color: rgba(20, 45, 112, 0.58);
}
.about-page-body {
  .block-title, .block-subtitle {
	text-align: right;
  }
  .block-subtitle {
	margin-bottom: 40px;
  }
  .photo-insider {
	padding: size(35);
  }
  .photo-wrapper {
	padding: 22px;
  }
  .base-output {
	p {
	  margin-bottom: 0;
	}
  }
}
.about-slide {
  @include d-center;
  @include back-img;
  width: 100%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 70.6%;
  }
}
.post-about-slider {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  .col-post {
	flex: 0 0 100%;
	max-width: 100%;
	height: 100%;
  }
}
//Contact page
.contact-container {
  margin: 69px 0 28px 0;
}
.contact-form-title, .contact-item-title, .contact-item-text {
  color: #ffffff;
  font-size: size(26);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  text-align: center;
  margin-bottom: 17px;
}
.form-contact-block {
  position: relative;
  @include back-img;
  padding: 63px 12.7% 50px 12.7%;
  margin-bottom: 47px;
}
.contact-phone {
  position: absolute;
  left: 87%;
  max-width: 50%;
  z-index: 8;
  top: -50px;
}
.page-contacts-block {
  margin-top: 30px;
}
.contact-info-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
  height: 40px;
}
.contact-item-title {
  margin-bottom: 0;
}
.contact-item-text {
  font-weight: 400;
}
.main-phones-title {
  font-weight: 700;
  margin-bottom: 67px;
}
.main-contact-col {
  margin-bottom: 42px;
}
.main-phone-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.menu-icon-contact {
  width: size(42);
  min-width: size(42);
  margin-left: 12px;
}
.main-phone-title, .main-phone-text {
  color: $text-main;
  font-size: size(20);
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.main-phone-title {
  font-weight: 700;
}
.main-phone-text {
  font-weight: 400;
  &:nth-child(2) {
	transition: color ease-out .5s;
	&:hover {
	  color: $title-color;
	}
  }
}
.tab-content {
  .more-link {
	margin-top: 40px;
  }
}
.gallery-body {
  .block-subtitle {
	margin-bottom: 36px;
  }
  .nav-tabs {
	border: none;
	display: flex;
	margin-bottom: 50px;
	width: 100%;
	justify-content: center;
	align-items: stretch;
  }
  .nav-tabs .nav-link {
	background: none;
	border: none;
	border-radius: 0;
  }
  .nav-item .nav-link {
	@include d-center;
	min-height: size(52);
	background-color: $green-main;
	margin: 6px 8.5px;
	color: $dark-blue;
	text-align: center;
	font-weight: 400;
	font-size: size(30);
	line-height: size(35);
	min-width: size(280);
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #ffffff;
	background-color: $dark-blue;
	border: none;
	font-weight: 700;
  }
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	border: none !important;
  }
}
//POST
.post-top {
  height: 300px;
  box-shadow: -18px -1px 21px rgba(36, 48, 32, 0.4);
  background-color: #142d70;
  padding: 30px 0 80px 0;
}
.title-wrapper-post {
  margin-bottom: 82px;
}
.post-article {
  margin-bottom: 118px;
  margin-top: 44px;
}
.single-gallery-slider {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.51);
  background-color: #ffffff;
  padding: 25px 13px;
  .slick-prev, .slick-next {
	width: 23px;
	height: 18px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	right: calc(50% - 11.5px);
	left: unset;
  }
  .slick-next {
	top: -2.5rem;
	background-image: url("../iconsall/arrow-top.png");
  }
  .slick-prev {
	background-image: url("../iconsall/arrow-down.png");
	bottom: -3.5rem;
	top: unset;
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.single-gallery-item {
  @include back-img;
  @include d-center;
  width: 100%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 72%;
  }
}
.post-side-wrap {
  border-radius: 0;
  border: none;
}
.post-sidebar-item {
  width: 100%;
  @include d-center;
  text-align: center;
  border-radius: 0;
  border: none;
  min-height: size(48);
  @include faq-text;
  background-color: $main-blue;
  color: $title-color;
  padding: 10px 15px;
  margin-bottom: 5px;
  transition: background-color, color ease-out .5s;
  &.active {
	background-color: $title-color;
	color: #ffffff;
  }
}
.sidebar-col {
  .card {
	border: 0;
	border-radius: 0;
  }
}
.links-sidebar {
  @include d-center;
  flex-direction: column;
  padding: 11px;
}
.side-link {
  color: $title-color !important;
  font-size: size(17);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  text-align: center;
  margin-bottom: 7px;
  transition: font-weight ease-out .5s;
  &:hover {
	font-weight: 700;
  }
}


@import "responsive";
